<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- Springベース設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- ローカル用 -->
    <springProfile name="local">
        <property name="LOG_HOME" value="C:/log/tomcat/" />
        <property name="LOG_FILE_NAME" value="dk-installation-photo" />
        <property name="APP_LOG_LEVEL" value="DEBUG" />
        <property name="SQL_LOG_LEVEL" value="WARN" />
        <property name="SQL_PARAM_LOG_LEVEL" value="TRACE" />
        <property name="ROOT_LOG_LEVEL" value="WARN" />
    </springProfile>

    <!-- 単体環境用 -->
    <springProfile name="test">
        <property name="LOG_HOME" value="/var/log/tomcat/" />
        <property name="LOG_FILE_NAME" value="dk-installation-photo" />
        <property name="APP_LOG_LEVEL" value="INFO" />
        <property name="SQL_LOG_LEVEL" value="INFO" />
        <property name="SQL_PARAM_LOG_LEVEL" value="INFO" />
        <property name="ROOT_LOG_LEVEL" value="INFO" />
    </springProfile>

    <!-- 開発環境用 -->
    <springProfile name="dev">
        <property name="LOG_HOME" value="/var/log/tomcat/" />
        <property name="LOG_FILE_NAME" value="dk-installation-photo" />
        <property name="APP_LOG_LEVEL" value="INFO" />
        <property name="SQL_LOG_LEVEL" value="INFO" />
        <property name="SQL_PARAM_LOG_LEVEL" value="INFO" />
        <property name="ROOT_LOG_LEVEL" value="INFO" />
    </springProfile>

    <!-- 本番環境用 -->
    <springProfile name="prod">
        <property name="LOG_HOME" value="/var/log/tomcat/" />
        <property name="LOG_FILE_NAME" value="dk-installation-photo" />
        <property name="APP_LOG_LEVEL" value="DEBUG" />
        <property name="SQL_LOG_LEVEL" value="WARN" />
        <property name="SQL_PARAM_LOG_LEVEL" value="TRACE" />
        <property name="ROOT_LOG_LEVEL" value="WARN" />
    </springProfile>

    <!-- 出力ルール：コンソール -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%-5level] [class=%-30.30logger{30}] [method=%-40.40M] [thread=%thread] [userId=%X{X-USER-ID}] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 出力ルール：ファイル -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}${LOG_FILE_NAME}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%-5level] [class=%-30.30logger{30}] [method=%-40.40M] [thread=%thread] [userId=%X{X-USER-ID}] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 業務ログの表示 -->
    <logger name="jp.co.dk.ip" level="${APP_LOG_LEVEL}" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <!-- SQL文の表示 -->
    <logger name="org.hibernate.SQL" level="${SQL_LOG_LEVEL}" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="${SQL_PARAM_LOG_LEVEL}" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <!--rootログレベルと使用出力ルール -->
    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="file" />
    </root>

</configuration>
